@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Estilos generales */
body {
    font-family: 'Noto Sans Mono', monospace;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color: #283618;
}

h3 {
    font-size: 1.5rem;
    margin-top: 4rem;
    text-align: center;
    color: #283618;
}

.padlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 2rem;
    margin-bottom: 20px;

    select {
        font-size: 1.5rem;
        margin:1rem;
        padding: 10px;
        border: 2px solid #283618;
        border-radius: 5px;
        background-color: #f0f0f0;
        color: #283618;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    select:hover {
        background-color: #283618;
        color: #f0f0f0;
    }
}


.padlock-shackle {
    p {
        font-size: 0.8rem;
        margin: 0;
        font-weight: bold;
    }
}

p {
    font-size: 1.2rem;
    margin: 20px 0;
    text-align: center;
    color: #283618;
    font-weight: lighter;
}

button {
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #283618;
    color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}